//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('AbelinaPro', 'AbelinaPro', 'AbelinaPro',  normal, normal)
webfont('Bison-Bold', 'Bison', 'Bison-Bold',  normal, normal)
webfont('Montserrat-Medium', 'Montserrat', 'Montserrat-Medium',  normal, normal)


