{% include '../parts/head.html' %}
<body>
	
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">



		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__technical full-section bg gutters" style="background-image: url('img/backgrounds/promo-bg.png');">
				<div class="container">
				<h1 class="w3c">404</h1>
					<div class="technical-block text-center ">
						<img src="img/404.svg" alt="404. Page not found">
						<h2 class="technical-block__title">Oops! Something went wrong</h2>
						<a class="btn btn-lg btn-dark" href="index.html">Home</a>
					</div>
				</div>
				<!-- //container -->
			</section>
		</main>
		<!-- //Main -->
		

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>