{% include '../parts/head.html' %}
<body>
	{% include '../parts/components/21.html' %}
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">



		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__products product-bg gutters ">
				<div class="container">
					<h1 class="page-title products__title">Products & Drinks</h1>

					<div class="products">
						<article class="product --fruity-color" id="rumPunch">
							<div class="product-img">
								<img src="img/products/1.png" alt="">
							</div>
							<div class="product-content">
								<h2 class="product-title">Rum Punch</h2>
								<p>Made with spiced rum and tropical fruit flavors, this rum punch’s palate has a gentle and enjoyable flavor. Ginger notes add a sweet Calipso character, balanced by a hint of lime juice.  Rum with Natural Flavors</p>
							</div>
						</article>
						<!-- //product -->

						<article class="product --fresh-color" id="sunriseMimosa">
							<div class="product-img">
								<img src="img/products/2.png" alt="">
							</div>
							<div class="product-content">
								<h2 class="product-title">Sunrise mimosa</h2>
								<p>Made with spiced rum and tropical fruit flavors, this rum punch’s palate has a gentle and enjoyable flavor. Ginger notes add a sweet Calipso character, balanced by a hint of lime juice.  Rum with Natural Flavors</p>
							</div>
						</article>
						<!-- //product -->

						<article class="product --mint-color" id="mojito">
							<div class="product-img">
								<img src="img/products/3.png" alt="">
							</div>
							<div class="product-content">
								<h2 class="product-title">Mojito</h2>
								<p>Made with spiced rum and tropical fruit flavors, this rum punch’s palate has a gentle and enjoyable flavor. Ginger notes add a sweet Calipso character, balanced by a hint of lime juice.  Rum with Natural Flavors</p>
							</div>
						</article>
						<!-- //product -->
					</div>
				

				</div>
				<!-- //container -->
			</section>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->


		

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>