{% include '../parts/head.html' %}
<body>
	
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper is-opened">



		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			
			<div class="page-about">
				
				<section class="sect__about-text sect__about-text--top">
					<div class="container">
						<h1 class="page-title page-title-lg --cherry-color text-center">about us</h1>
						<div class="content">
							<p>Tipsy Lady Cocktails is a Premium Ready to Drink Caribbean inspired canned cocktail line sold in 200ml slim cans with 12% Alc.  Tipsy Lady® is a women-owned, founded and operated company also certified by councils that recognize minorities and women. National Minority Supplier Development Council (NMSDC) and the Women's Business Enterprise National Council (WBENC). </p>

							<p>Our Ready to Drink canned cocktails are made with premium spirits with Natural flavors  at 12% ABV, perfect for any occasion. A day at the pool, boat, golfing, brunch event or staycations, our Ready to Drink cocktails give you an authentic high-quality cocktail experience on the go. </p>
						</div>
					</div>
					<!-- //container -->
				</section>


				<section class="sect__our-drinks-imgs aqua-decor">
					
					<div class="container">
						<div class="our-drinks-imgs">

							<div class="our-drinks-imgs__woman">
								<img src="img/woman-about.png" alt="Taste our drinks">
							</div>

							<div class="our-drinks-imgs__jars">
								<img src="img/jars/1.png" alt="our drinks">
								<img src="img/jars/2.png" alt="our drinks">
								<img src="img/jars/3.png" alt="our drinks">
							</div>
						</div>

					</div>
					<!-- //container -->

					<div class="aqua-decor__line aqua-decor__line--top">
						<img src="img/decors/noindex_drinks-line-top.svg" alt="">
					</div>
					<div class="aqua-decor__line aqua-decor__line--bottom">
						<img src="img/decors/noindex_drinks-line-bottom.svg" alt="">
					</div>
				</section>

				<section class="sect__about-text gutters sect__about-text--bottom">
					<div class="container">
						<div class="content">
							<p>Join The Party!</p>

							<p>Tipsy Lady™ despite the name, has very little to do with getting slightly drunk and all to do with “tipping” the scales in the alcohol beverage industry as it relates to women ownership. <br>Proceeds from the sales are donated to youth programs with entrepreneurship initiatives.  Tipsy Lady strives to strategically align with corporations that reflect their desire and passion towards economic equality through entrepreneurship and cultural diversity of the communities in which their customers are located, by developing socially diverse suppliers like Tipsy Lady™</p>

							<p>Cheers,</p>
							<p>Toni Gilliard/CEO Tipsy Lady®</p>
						</div>
					</div>
					<!-- //container -->
				</section>
			</div>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->


		

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>