{% include '../parts/head.html' %}
<body>
	

	{% include '../parts/components/21.html' %}
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">



		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo" >

				<div class="promo-bg bg" style="background-image: url('img/backgrounds/promo-bg.png');">
					<div class="promo-bg__line">
						<img src="img/decors/noindex_promo-line.svg" alt="">
						

					</div>

					<div class="promo-bg__woman">
						<div class="container">
							<div class="row align-horisontal-end">
								<div class="promo-bg__woman--img">
									<img src="img/promo-woman.png" alt="">
								</div>
							</div>
						</div>
						<!-- //container -->
					</div>

				</div>

				<div class="container">
					<div class="promo-block">
						<div class="promo-block__title">
							<div class="promo-block__title--text">
								<h1 class="title">Tipsy Lady</h1>
								<h2 class="subtitle"><span>My mix</span>for ANYTIME</h2>
							</div>

							<article class="event-card">
								<div class="accent-heading">
									<span>Events</span>
								</div>
								<a href="page-event.html" class="event-card__img thumbnail">
									<img src="img/event.jpg" alt="">
								</a>
								<div class="event-card__content">
									<p>Register to be notified about<br>upcoming events and<br>Tipsy news.</p>
								</div>
								<a href="page-event.html" class="btn">Join event</a>
							</article>

						</div>
						<!-- //promo title -->

						<div class="promo-block__img">
							<div class="promo-block__img--product">
								<img src="img/tipsy.png" alt="">
								<div class="promo-block__img--product_text">
									<img src="img/refreshing.svg" alt="Refreshing taste">
								</div>
								
							</div>

							<article class="event-card">
								<div class="accent-heading">
									<span>Events</span>
								</div>
								<a href="page-event.html" class="event-card__img thumbnail">
									<img src="img/event.jpg" alt="">
								</a>
								<div class="event-card__content">
									<p>Register to be notified about<br>upcoming events and<br>Tipsy news.</p>
								</div>
								<a href="page-event.html" class="btn">Join event</a>
							</article>

						</div>
						<!-- //promo img -->

						<div class="promo-block__product">
							<div class="product-card --fruity-color">
								<div class="product-card__img thumbnail">
									<img src="img/products/1.png" alt="">
								</div>
								<div class="product-card__description text-right">
									<h3 class="product-card__title">Rum punch</h3>
									<div class="product-card__description--link ">
										<a href="#" class="btn">View drink</a>
									</div>
								</div>
							</div>
						</div>
						<!-- //promo product -->
					</div>
				</div>
				<!-- //container -->

				
			</section>
			<!-- //sect -promo -->


			<section class="sect__products">
				

				<div class="products-cards__entering aqua-decor">
					<div class="container">
						<div class="row align-horisontal-between row-nowrap products-cards__entering--row">
							<div class="products-cards__entering--title_col">
								<div class="products-cards__entering--title_text">
									<h2 class="products-cards__entering--title"><span>Our</span>Drinks list</h2>
									<h3 class="products-cards__entering--subtitle">Find the perfect mix</h3>
								</div>

								<div class="products-cards__entering--img">
									<img src="img/woman.png" alt="">
								</div>

								<div class="products-cards__entering--vacation">
									<img src="img/vacation_drink.svg" alt="Vacation drink">
								</div>
							</div>
							<!-- //title col -->

							<div class="twitter-card__col">
								<div class="twitter-card text-right">
									<div class="twitter-card__header">
										<div class="accent-heading">
											<span>twitter feed</span>
											<span class="accent-heading__ic" style="background-image: url('img/icons/svg/noindex_twitter.svg');"></span>
										</div>
										<div class="twitter-card__content ">
											<p>Come along and get Tipsy with<br>our Caribbean inspired cocktails.</p>
											<p>Just chill and sip!</p>
										</div>
										<a href="#" rel="nofollow" target="_blank" class="btn btn-accent">follow on twitter</a>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<!-- //container -->

					<!-- Lines -->

					<div class="aqua-decor__line aqua-decor__line--top">
						<img src="img/decors/noindex_drinks-line-top.svg" alt="">
					</div>
					<div class="aqua-decor__line aqua-decor__line--bottom">
						<img src="img/decors/noindex_drinks-line-bottom.svg" alt="">
					</div>
				</div>

				<div class="products-cards">
					<div class="container">
						
						<div class="row align-horisontal-center products-cards__row">
							<article class="product-card__wrapper col-w-33">
								<div class="product-card --fruity-color">
									<div class="product-card__label">
										<img src="img/status/fruity.svg" alt="fruity">
									</div>
									<div class="product-card__img thumbnail">
										<img src="img/products/1.png" alt="">
									</div>
									<div class="product-card__description">
										<h3 class="product-card__title">Rum punch</h3>
										<div class="product-card__description--link">
											<a href="#" class="btn">View drink</a>
										</div>
									</div>
								</div>
							</article>
							<!-- // card product -->

							<article class="product-card__wrapper col-w-33">
								<div class="product-card --fresh-color">
									<div class="product-card__label">
										<img src="img/status/fresh.svg" alt="Fresh">
									</div>
									<div class="product-card__img thumbnail">
										<img src="img/products/2.png" alt="">
									</div>
									<div class="product-card__description">
										<h3 class="product-card__title">Sunrise Mimosa</h3>
										<div class="product-card__description--link">
											<a href="#" class="btn">View drink</a>
										</div>
									</div>
								</div>
							</article>
							<!-- // card product -->

							<article class="product-card__wrapper col-w-33">
								<div class="product-card --mint-color">
									<div class="product-card__label">
										<img src="img/status/mint.svg" alt="mint">
									</div>
									<div class="product-card__img thumbnail">
										<img src="img/products/3.png" alt="">
									</div>
									<div class="product-card__description">
										<h3 class="product-card__title">Mojito</h3>
										<div class="product-card__description--link">
											<a href="#" class="btn">View drink</a>
										</div>
									</div>
								</div>
							</article>
							<!-- // card product -->
						</div>

					</div>
					<!-- //container -->
				</div>
			</section>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->


		

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>