{% include '../parts/head.html' %}
<body>
	{% include '../parts/components/21.html' %}
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">



		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__events grey-decor-bg gutters">
				<div class="container">

					<h1 class="content-title text-center">Events</h1>

					<div class="events-cards">
						<div class="row align-horisontal-start  events-cards__row">
							<div class="event-card__wrapper col-w-33 ">
								<article class="event-card">
									<a href="page-event.html" class="event-card__img thumbnail">
										<img src="img/event.jpg" alt="">
									</a>
									<div class="event-card__content">
										<h2 class="event-card__title">
											<a href="page-event.html">Lorem ipsum, dolor.</a>
										</h2>
										
									</div>
									<a href="page-event.html" class="btn">Open info</a>
								</article>
							</div>

							<div class="event-card__wrapper col-w-33 ">
								<article class="event-card">
									<a href="page-event.html" class="event-card__img thumbnail">
										<img src="img/event.jpg" alt="">
									</a>
									<div class="event-card__content">
										<h2 class="event-card__title">
											<a href="page-event.html">Lorem ipsum, dolor.</a>
										</h2>
										
									</div>
									<a href="page-event.html" class="btn">Open info</a>
								</article>
							</div>

							<div class="event-card__wrapper col-w-33 ">
								<article class="event-card">
									<a href="page-event.html" class="event-card__img thumbnail">
										<img src="img/event.jpg" alt="">
									</a>
									<div class="event-card__content">
										<h2 class="event-card__title">
											<a href="page-event.html">Lorem ipsum, dolor.</a>
										</h2>
										
									</div>
									<a href="page-event.html" class="btn">Open info</a>
								</article>
							</div>

							<div class="event-card__wrapper col-w-33 ">
								<article class="event-card">
									<a href="page-event.html" class="event-card__img thumbnail">
										<img src="img/event.jpg" alt="">
									</a>
									<div class="event-card__content">
										<h2 class="event-card__title">
											<a href="page-event.html">Lorem ipsum,<br>dolor.</a>
										</h2>
										
									</div>
									<a href="page-event.html" class="btn">Open info</a>
								</article>
							</div>


							<div class="event-card__wrapper col-w-33 ">
								<article class="event-card">
									<a href="page-event.html" class="event-card__img thumbnail">
										<img src="img/event.jpg" alt="">
									</a>
									<div class="event-card__content">
										<h2 class="event-card__title">
											<a href="page-event.html">Lorem ipsum, dolor.</a>
										</h2>
										
									</div>
									<a href="page-event.html" class="btn">Open info</a>
								</article>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->


		

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>