{% include '../parts/head.html' %}
<body>
	{% include '../parts/components/21.html' %}
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">



		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__events grey-decor-bg gutters">
				<div class="container">

					<div class="event-coming-soon">
						<div class="event-coming-soon__img">
							<img src="img/event-lg.png" alt="Coming soon">
						</div>
						<h1 class="event-coming-soon__title"><span>Coming</span><span>Soon</span></h1>
					</div>
				</div>
				<!-- //container -->
			</section>
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->


		

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>