.btn
	display inline-block
	line-height 1
	text-align center
	font 19px $BisonBold
	color $basic-white-color
	background-color $dark-accent-color
	padding 7px 35px
	
	&:hover
		background-color $accent-color !important
		
	&-wide
		width 100%
		padding-left 15px
		padding-right 15px
		
	&-close
		display inline-block
		width 20px
		height 20px
		background url('../img/icons/svg/close-ic.svg') center center no-repeat
		background-size 20px 20px

		

	&-hamburger
		display none
		flex none
		width 35px
		height 35px
		background-color $hamburger-btn-bg
		position relative
		transition background-color .17s ease-in-out
		&__line
			width 20px
			height 2px
			background-color $basic-white-color
			display block
			border-radius 50px
			margin 4px auto
			transition all 0.3s ease-in-out	
			&:first-child
				width 14px
				transform translateX(-3px)
		&.is-active
			.btn-hamburger__line
				&:nth-child(1)
					width 20px
					transform translate(0, 6px) rotate(45deg)
				&:nth-child(2)
					opacity 0	
				&:nth-child(3)
					transform translateY(-6px) rotate(-45deg)
		