.nav
	ul
		li
			display inline-block
			margin-right 46px
			&:last-child
				margin-right 0
				
			&.current-menu-item
				> a
					color $secondary-color
				
		a
			text-transform uppercase
			font-family $BisonBold
			color $basic-white-color
			font-size 19px
			&:hover
				color $secondary-color
				
	&-wrapper
		position relative
		
		.socials
			position absolute
			top calc(100% + 33.5px)
			right 0
			z-index -1
			
			

		&__img
			width 240px
			flex none
			display none
			transition all .23s ease-in-out
			transition-delay .23s
			transform translateY(30px)
			opacity 0
			margin-top 40px