//  Fonts 
$Adelina = 'AbelinaPro', Arial, sans-serif
$BisonBold = 'Bison-Bold', Arial, sans-serif

// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $Adelina
$body-font-size = 19px
$body-line-height = 1.45

// Sizes
$container-width = 1210px
$container-gutters = 0 20px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 90px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #f0c300
$dark-accent-color = #e68a00

$secondary-color = #da5300

$title-color = #720034

$fruity-color = #e16300
$fruity-dark-color = #d24800

$mint-color = #8eb229
$mint-dark-color = #79981e

$fresh-color = #ecb113
$fresh-dark-color = #e79109



$text-color = #000
$light-text-color = #a2a2a2

$basic-white-color = #fff
$basic-black-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff

$mobile-menu-bg = #e79109

$hamburger-btn-bg = #eaa400


$dark-bg = #090909

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========