//  Fonts 
$Adelina = 'AbelinaPro', Arial, sans-serif
$BisonBold = 'Bison-Bold', Arial, sans-serif

// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $Adelina
$body-font-size = 19px
$body-line-height = 1.45

// Sizes
$container-width = 1210px
$container-gutters = 0 20px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 110px 0
$gutter-top = 100px
$gutter-bottom = 100px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #ffc400
$dark-accent-color = #ff8c00

$secondary-color = #da5300

$title-color = #720034

$fruity-color = #ff6417
$fruity-dark-color = #f04800


$mint-color = #80b320
$mint-dark-color = #6b9912

$fresh-color = #ffb217
$fresh-dark-color = #ff9317

$dark-btn-bg = #e16300

$cherry-color = #cf0000

$header-border-color = #f95300


$placeholder-color = #c5c5c5

$text-color = #000
$light-text-color = #a2a2a2

$basic-white-color = #fff
$basic-black-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #fff

$mobile-menu-bg = #e79109

$hamburger-btn-bg = #eaa400


$dark-bg = #090909

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========