.full-section
	min-height calc(100vh - 93px)
	flex-col-center()
	

.technical-block
	color $basic-white-color
	img
		display block
		max-width 50%
		margin 0 auto 40px auto
		
	&__title
		text-transform uppercase
		font 49px $BisonBold
		
	.btn
		margin-top 40px
		

.sect__content
	.content
		margin 0 auto
		max-width 960px
		
.content-title
	text-transform uppercase
	font 62px $BisonBold
	margin-bottom 40px
	text-align center