.sect__promo
	position relative
	background-size 0 0
	padding-top 20px
	&:before
		pseudo()
		position absolute
		fullSize()
		bg(50%, 50%)
		background-image inherit
		height 600px
		z-index -1
		
.promo-bg
	height 600px
	position absolute
	z-index -1
	top 0
	left 0
	width 100%
	overflow hidden
	&__woman
		position relative
		&--img
			width 550px
			
	
	&__line
		position absolute
		z-index 10
		bottom 0
		left 0
		width 100%
		height 190px
		display flex
		align-items flex-end
		margin-bottom -1px
		svg
			display block
			width 100%
			
		img
			display block
	
			width 100%
	
	

.promo-block
	display flex
	flex-wrap nowrap
	&__title
		width 320px
		padding-top 55px
		&--text
			margin-bottom 55px

		
		.event-card
			max-width 250px	
	&__product
		width 300px
		display flex
		align-items flex-end
		
	&__img
		flex 1
		margin 0 20px
		position relative
		
		&:before
			pseudo()
			position absolute
			top 0
			left 0
			z-index -1
			width 520px
			height 215px
			background url('../img/decors/circles.svg') 50% 50% no-repeat / contain
			transition all 1.5s ease-in-out
			transform translateY(40px)
			transition-delay .2s
			opacity 0
			
		&.is-animated
			&:before
				transform translateY(0)
				opacity 1
			
		img
			display block
			
		.event-card
			display none
			
		&--product
			position relative
			&_text
				position absolute
				left 50%
				bottom 10%
				width 390px
				height 90px
				margin-left -195px
				
				img
					display block
					width 100%
			
		&--text
			display inline-block
			position absolute
			left 50%
			bottom 12%
			transform translateX(-50%) rotate(-5deg)
			font-size 60px
			color $basic-white-color
			white-space nowrap
			text-shadow 0 1px 0px $title-color, 1px 0 0px $title-color, 1px 2px 0 $title-color, 2px 1px 0 $title-color, 2px 3px 0 $title-color, 3px 2px 0 $title-color, 3px 4px 0 $title-color, 4px 3px 0 $title-color, 4px 5px 0 $title-color, 5px 4px 0 $title-color, 5px 6px 0 $title-color
	
.title
	font-size 64px
	color $title-color 
	line-height 1
	margin-bottom 15px
	
.subtitle
	color $basic-white-color
	text-transform uppercase
	font 64px $BisonBold
	line-height 1
	text-shadow 3px 3px 0 rgba($basic-black-color, .19)
	span
		display block
		font-size 140px
		text-shadow 6px 4px 0 rgba($basic-black-color, .19)
		



// Product cards


.products-cards
	padding 80px 0 20px
	&__entering 
		
		position relative
		
		&--title
			text-transform uppercase
			font 157px $BisonBold
			line-height 1
			color $basic-white-color
			text-shadow 0 1px 0px $title-color, 1px 0 0px $title-color, 1px 2px 0 $title-color, 2px 1px 0 $title-color, 2px 3px 0 $title-color, 3px 2px 0 $title-color, 3px 4px 0 $title-color, 4px 3px 0 $title-color, 4px 5px 0 $title-color, 5px 4px 0 $title-color, 5px 6px 0 $title-color
			white-space nowrap
			&_text
				position relative
				z-index 3
				bottom -100px
			span
				font 116px $Adelina
				text-transform none
				display block
				line-height 0.5
				
			&_col
				position relative
				display flex
				align-items flex-end
				min-height 900px
				width 100%
				max-width 850px
				flex 1
				padding-bottom 160px
				
		&--subtitle
			text-transform uppercase
			font 71px $BisonBold
			color $basic-white-color
			text-shadow 6px 4px 0 rgba($basic-black-color, .3)
				
		&--img
			position absolute
			bottom 0
			width 650px
			right 0
			z-index 2
			img
				display block
				
		&--vacation
			display inline-block
			width 250px
			height 250px
			position absolute
			left 100%
			margin-left -50px
			bottom -100px
			z-index 4
			

.twitter-card
	position relative
	&__content
		background-color $dark-accent-color
		color $basic-white-color
		padding 15px
		line-height 1.25
		box-shadow 1px 7px 21px -8px rgba(0,0,0,0.34)
		p
			margin-bottom 22px
			&:last-child
				margin-bottom 0
				
	&__header
		.accent-heading
			max-width 195px
			padding-left 15px
			padding-right 15px
			white-space nowrap
			justify-content center
	&__col
		width 260px
		padding-top 250px
		
		.twitter-card
			bottom -50px


	
.product-card
	position relative
	&.--fruity-color
		.product-card__title
			background-color $fruity-color
			
		.btn
			background-color $fruity-dark-color
			
	&.--fresh-color
		.product-card__title
			background-color $fresh-color
			
		.btn
			background-color $fresh-dark-color
			

	&.--mint-color
		.product-card__title
			background-color $mint-color
			
		.btn
			background-color $mint-dark-color
			


	&__label
		position absolute
		top 0
		right 0
		z-index 1
		width 120px
		height 120px
		opacity 0
		transform translateY(30px)
		transition all .23s ease-in-out
		img
			@extends .content-img
			
		&.is-animated
			opacity 1
			transform translateY(0)
			

			

		
	&__wrapper
		padding 0 30px 60px
		
	&__img
		padding-top 100%
		display flex
		align-items flex-end
		position relative
		
		img
			@extends .content-img
			transform translateY(-50%)
			left 0
			
	&__description
		position relative
		padding-left 75px
		margin-top -35px
		z-index 1
		
	&__title
		display inline-flex
		align-items center
		justify-content center
		white-space nowrap
		text-align center
		font 42px $BisonBold
		color $basic-white-color
		line-height 1
		padding 8px 20px
		background-color orange
		min-width 220px
		text-shadow 2px 2px 0 rgba($basic-black-color, .19)
			
		
.products-cards__row
	margin-left -30px
	margin-right -30px
	

// Event card
.event-card
	
	&__img
		padding-top 84%
		display block
		
	&__content
		background-color $accent-color
		padding 20px
		box-shadow 1px 7px 21px -8px rgba(0,0,0,0.19)
		