
	

.event-coming-soon
	max-width 800px
	position relative
	&__title
		position absolute
		left 100%
		vertical-center()
		z-index 1
		text-transform uppercase
		font 140px $BisonBold
		color $cherry-color
		line-height 1
		margin-left -55px
		span
			display block