.full-section
	min-height calc(100vh - 93px)
	flex-col-center()
	

.technical-block
	color $basic-white-color
	img
		display block
		max-width 50%
		margin 0 auto 40px auto
		
	&__title
		text-transform uppercase
		font 49px $BisonBold
		
	.btn
		margin-top 40px
		

.sect__content
	.content
		margin 0 auto
		max-width 960px
		
.content-title
	text-transform uppercase
	font 62px $BisonBold
	margin-bottom 40px
	text-align center
	

.event-coming-soon
	max-width 800px
	position relative
	&__title
		position absolute
		left 100%
		vertical-center()
		z-index 1
		text-transform uppercase
		font 140px $BisonBold
		color $cherry-color
		line-height 1
		margin-left -55px
		span
			display block