// Media queris mixins add there
@import '../../node_modules/stylus-media-queries/index.styl'
/* -------Screen sizes----------- 
+screen(minWidth, maxWidth)
+max-screen(maxWidth)
+min-screen(minWidth)
+screen-height(minHeight, maxHeight)
+max-screen-height(maxHeight)
+min-screen-height(minHeight)
*/

+max-screen(1800px)
	.sect__about-text
		&--top
			background-position top -90px left -300px
		&--bottom
			background-position bottom 80px right -300px

+max-screen(1365px)
	// Prmo
	.promo-bg__line
		height 145px
		display flex
		justify-content flex-end
		img
			height 100%
			width auto
			
	// Drinks
	.aqua-decor
		&__line
			height 140px
			display flex
			&--top
				justify-content flex-start
			&--bottom
				justify-content flex-end
			img
				height 100%
				width auto
				flex none
				
+max-screen(1200px)
	// Promo
	.promo-block
		flex-wrap wrap
		&__product
			width 100%
			margin-top 60px
			justify-content center
			display block
			
			.product-card
				width 50%
				margin 0 auto
				&__description 
					text-align left
						
		&__img
			max-width 530px
			
	.promo-bg__woman--img
		margin-right -100px
		
	// Events
	.event-coming-soon
		max-width 600px
		

	.our-drinks-imgs__woman
		left -80px
		
	.sect__about-text

		&--top
			background-size 450px
			background-position top -90px left 0
		&--bottom
			background-size 350px
			background-position top right

+max-screen(1050px)

	// Header
	.nav
		ul
			li
				margin-right 26px
				

	// Products cards
	.product-card
		&__wrapper
			width 50%
			


	// Promo
	.title
		font-size 50px
		margin-bottom 10px
		
	.subtitle
		font-size 54px
		span
			font-size 120px
			
	.promo-block__title
		width 280px
		
	.promo-block
		&__img
			display flex
			align-items flex-end
	


	// Footer
	.footer
		&-line
			img
				height 95px
				object-fit cover
		&__row
			flex-wrap wrap
			
		&-col
			width 100%
			flex none
			text-align center
			margin-bottom 40px
			
			&__text
				order 3
				margin-bottom 0
			&__nav
				order 2
				ul
					display block
					li
						display block
						margin-right 0
						margin-bottom 25px
						&:last-child
							margin-bottom 0
			&__logo
				order 1
				
		&-logo
			margin 0 auto
			padding-right 0
			width 150px
			&__img
				right auto
				left 100%
				margin-left 20px
				width 50px
				bottom 0
		&-text
			margin 0 auto
			max-width 260px
			p
				margin-bottom 25px
				&:last-child
					margin-bottom 0

	.event-card__wrapper
		width 50%

+max-screen(992px)
	
				
	//promo
	.promo-block__img
		
		padding-top 0
	.promo-bg
		&__woman
			&--img
				width 500px
				margin-right -130px
				

	.sect__promo
		padding-bottom 40px
		
	// Drinks
	.products-cards
		&__entering
			&--title
				font-size 120px
				span
					font-size 100px
					
			&--subtitle
				font-size 50px
				
			&--img
				right -100px
				
	// Events
	.sect__events
		padding-bottom 40px
		
	.event-coming-soon
		max-width 500px
		&__title
			font-size 100px
			margin-left -38px
			

	// Contacts
	.contacts-img:before
		width 350px
		height 340px
		
	.page-title-lg
		font-size 120px
		

	// Catalog
	.product-content
		margin-left 40px
		
	.product:nth-child(even) .product-content
		margin-right 40px
		

	// About
	.our-drinks-imgs
		height 800px
		&__woman
			left auto
			horisontal-center()
			width 650px
		&__jars
			right auto
			width 540px
			height 500px
			horisontal-center()
			align-items center
			bottom -250px
			img
				
				&:nth-child(2)
					margin-bottom 0
				&:nth-child(3)
					margin-bottom 0
					
				&:first-child,
				&:last-child
					width 170px
					
	.sect__about-text--bottom
		padding-top 300px
		background-position bottom right
			
	
	.twitter-card__col 
		.twitter-card
			bottom 0
			
	.products-cards__entering--vacation
		bottom -130px
		margin-left 30px
		
		

+max-screen(767px)
	.gutters
		padding 110px 0 50px
		
	.page-title
		font-size 68px
		line-height 1
		
	.full-section
		min-height 100vh
		
	.technical-block img
		max-width 100%
	// Header
	.header
		height 55px
		display flex
		align-items center
		padding 8px 0
		position fixed
		top 0
		left 0
		width 100%
		z-index 15
		
		&__row
			justify-content flex-end
		
		.logo
			position absolute
			position-center()
			img
				max-width 100px
				

		.nav
			ul
				text-align center
				li
					display block
					margin-right 0
					margin-bottom 30px
					&:last-child
						margin-bottom 0
		
	.nav-wrapper
		position fixed
		top 55px
		left 0
		width 100%
		height calc(100vh+55px)
		overflow-y auto
		background-color $mobile-menu-bg
		padding 110px 20px 0
		opacity 0
		visibility hidden
		pointer-events none
		transition all .23s ease-in-out
		display flex
		flex-direction column
		justify-content space-between
		align-items center
		&.is-opened
			opacity 1
			visibility visible
			pointer-events auto
			.nav-wrapper__img
				transform translateY(0)
				opacity 1
		
		.socials
			position fixed
			top 54.5px
			horisontal-center()
			right auto
			z-index 1
			
		.nav-wrapper__img
			display block
			
	.socials-item__link
		width 50px
		height 56px
		
	
					

	.btn-hamburger
		display inline-block
		
	// products card
	.product-card
		&__wrapper
			width 100%
			padding-bottom 0
			margin-bottom 100px
			&:last-child
				margin-bottom 0
				

	.promo-block__product
		.product-card
			width 100%
			

	// Event
	.grey-decor-bg
		background-size auto
		
	
	.event-coming-soon
		max-width 100%
		padding-left 20px
		padding-right 20px
		&__img
			@extends .thumbnail
			padding-top 146%
		&__title
			top 0
			left 0
			margin-left 0
			right 0
			bottom 0
			transform none
			text-align center
			font-size 90px
			span
				position absolute
				horisontal-center()
				&:first-child
					top -50px
				&:last-child
					bottom -40px
					

	// Contacts
	.sect__contacts
		padding-top 120px
		padding-bottom 40px
		
	.page-title
		font-size 68px
		
	.contacts
		&__row
			flex-wrap wrap
			
		&-form
			max-width 100%
			&__col
				max-width 100%
				width 100%
				text-align center
				padding-top 0
				
		.page-title
			margin-bottom 20px
			text-align left
			
		&__text
			margin-top 50px
			font-size 14px
			h2,h3,h4,h5,h6
				font-size 22px
				margin-bottom 20px
			p
				margin-bottom 20px
			
		&-img
			&:before
				width 450px
				height 440px
			&__col
				width 100%
				flex none
				margin-top 45px
	

	.page-about
		padding-top 0
		
	.sect__about-text--top
		padding-top 115px
		

	.sect__about-text--bottom
		padding-top 280px

+max-screen(700px)
	// Promo
	.sect__promo
		padding-top 25px
	.promo-bg
		height 450px
		display flex
		align-items flex-end
		&__line
			height 90px
			img
				width auto
			
		&__woman
			width 100%
			&--img
				width 400px
				margin-right -40px
	
	.promo-block
		&__img
			max-width 100%
			flex none
			margin-left 0
			margin-right 0
			margin-top -35px
			display block
			&:before
				display none
				
			.event-card
				display block
				margin-top 45px
				
			&--text
				font-size 50px
				
		&__title
			position relative
			z-index 2
			.event-card
				display none
			&--text
				margin-bottom 0
				

	.title
		font-size 39px
		
	.subtitle
		font-size 39px
		span
			font-size 85px
			
	.sect__promo
		padding-bottom 100px
	// Drinks
	.products-cards
		&__entering
			&--row
				flex-wrap wrap
				
			&--title
				&_col
					order 2
					flex none
					width 100%
					min-height 530px
					padding-bottom 140px
					
				&_text
					position absolute
					left 0
					
			&--img
				width 500px
				right auto
				horisontal-center()
					
			&--vacation
				left 50%
				margin-left -100px
				bottom -80px
				width 200px
				height 200px
				transform none !important
	.twitter-card
		&__col
			order 1
			padding-top 0
			position relative
			z-index 4
			margin 0 auto
			margin-bottom 140px
			.twitter-card
				bottom auto
				transform none !important
			
			
	

	.aqua-decor__line
		height 110px
		
	.products-cards
		padding-top 170px
		
	.products__title
		margin-bottom 70px
		
	.product
		flex-direction column
		margin-bottom 80px
		&:last-child
			margin-bottom 0
		&:nth-child(even)
			flex-direction column
			.product-content
				margin-right 0
			
		&-content
			margin-left 0
			margin-right 0
			text-align center
			
		&-img
			margin-bottom 25px
			
	.product-bg
		background-image url('../img/backgrounds/product-bg-mobile.jpg')
		background-position top center
		background-size 100% auto
		

	.products-cards__entering--title_text
		bottom auto
		transform none !important
		

	.content
		font-size 14px
		
		h2
			font-size 28px
			margin-bottom 20px
			
		h3
			font-size 24px
			margin-bottom 20px
			
		p, ul, ol
			margin-bottom 20px
		
		&-title
			font-size 40px
			margin-bottom 20px
		

	.event-card__wrapper
		width 100%
		.event-card__content
			min-height 75px
	.event-card__title
		font-size 20px

+max-screen(550px)
	.our-drinks-imgs
		height 530px
		&__woman
			width 440px
			
		&__jars
			width 100%
			height auto
			bottom -140px
			img
				width 40% 
				bottom 0 !important
				transform none !important
				&:nth-child(1),
				&:nth-child(3)
					width 30%


+max-screen(500px)
	.promo-bg
		&__woman
			&--img
				width 400px
				margin-right -100px				

+max-screen(460px)
	// products card
	.product-card
	
			
		&__description
			padding-left 20px
			
		&__title
			font-size 34px
			

	.twitter-card__col
		margin-bottom 90px
		
	.products-cards__entering
		&--img
			width 410px
			bottom 50px
			
		&--title
			font-size 72px
			span
				font-size 54px
				
		&--subtitle
			font-size 33px
			

	.contacts-img
		max-width 220px
		&:before
			width 250px
			height 240px
			

	.product
		font-size 17px
		
		&-img
			padding 25px
			width 290px
			height 290px
			flex none
			img
				max-width 210px
				max-height 210px
			
		&-title
			font-size 47px
			

	.sect__about-text
		&--top
			background-size 310px
			background-position top left
		&--bottom
			background-size 350px
			background-position bottom right -210px
			
		
			
	.page-about
		font-szie 17px
		text-align center
		
		.page-title
			margin-bottom 40px
		
	.content
		p
			margin-bottom 20px
		


+max-screen(420px)
	.promo-bg
		&__woman
			&--img
				width 360px
				margin-right -100px		
				

	.promo-block__img--product_text
		width 240px
		height 55px
		margin-left -120px
		

	.our-drinks-imgs
		height 490px
		&__woman
			width 400px
			
	.sect__about-text--bottom
		padding-top 220px

